<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>Restaurant recommendation system</title>
    </head>

  <body>
      <div class="basetitle">
          <h1>Restaurant recommendation system</h1>
          <p>
          This flask app shows <b>Yelp</b> reviews of <b>Asian Fusion</b> restaurants from <b>Ann Arbor</b>.</p>
      </div>
      
      {% block content %}{% endblock %}
      
      <hr>
      
      <footer>
        <p>Yi Sun &copy; 2022</p>
      </footer>
  </body>
</html>

